@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #49a300;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #2b9439;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: rgb(29, 129, 3);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    
}
img{
    width: 79%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: rgb(25, 151, 0);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0,9rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* header */
#header{
    background: linear-gradient(rgba(9, 187, 18, 0.5), rgba(0, 0, 0, 0.3)), url('../images/Design\ sem\ nome.png') center/cover;
    justify-content: flex-start;
    align-items: flex-end;
    height: 9;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color:green;
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
/* Alterando a aparência dos ícones das redes sociais com borda e sem fundo */
.social-links {
    display: flex; /* Alinha os itens lado a lado */
    padding: 0;
    margin: 0;
}

.social-links li {
    list-style: none;
    margin-right: 1rem; /* Espaçamento entre os ícones */
}

.social-links li a {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    border-radius: 50%; /* Tornar os ícones circulares */
    border: 2px solid var(--light-color); /* Borda ao redor do ícone */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    color: var(--light-color); /* Cor dos ícones */
}

/* Cores dos ícones originais */
.social-links li a i.fa-facebook-f {
    color: #3b5998; /* Cor do Facebook */
}

.social-links li a i.fa-x { /* Para o X */
    color: #1da1f2; /* Cor do X */
}

.social-links li a i.fa-instagram {
    color: #e4405f; /* Cor do Instagram */
}

.social-links li a i.fa-telegram {
    color: #0088cc; /* Cor do Telegram */
}

.social-links li a i.fa-whatsapp {
    color: #25d366; /* Cor do WhatsApp */
}

/* Efeito hover para os ícones: Bordas e ícones mudam de cor */
.social-links li a:hover {
    opacity: 0.9;
    transform: translateY(5px);
    border-color: white; /* Altera a cor da borda ao passar o mouse */
}


.social-links li a:hover i {
    color: white; 
}



/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */
#work{
    background: linear-gradient(rgba(2, 78, 2, 0.5), rgba(0, 0, 0, 0.3)), url('../images/eu3.jpg') center/cover no-repeat fixed;
    background-size: 500px; /* Definindo o tamanho exato em pixels */

    color: rgb(156, 156, 156);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background:rgb(219, 0, 0);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon img{
    width: 50px;
    margin: 0 auto 1.7rem auto;
}
/* Ajustes no layout da grid de portfólio */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Por padrão, 2 colunas */
    gap: 2rem; /* Espaçamento entre as colunas e linhas */
    margin-top: 2rem; /* Espaço acima do portfólio */
}

.portfolio-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto; /* Deixe a altura ser adaptável ao conteúdo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Animação suave no efeito hover */
}

/* Configuração padrão para as imagens */
.portfolio-grid > div img {
    width: 100%; /* Por padrão, a imagem ocupa 100% da largura */
    height: auto; /* A altura é automática para manter a proporção */
    object-fit: cover; /* Ajusta a imagem sem distorção */
    transition: transform 0.3s ease; /* Suaviza a transição */
    border-radius: 10px; /* Bordas arredondadas para as imagens */
}

/* Efeito de zoom ao passar o mouse sobre a imagem */
.portfolio-grid > div:hover img {
    transform: scale(1.1); /* A imagem aumenta 10% quando o mouse passa por cima */
}

/* Definindo tamanhos específicos para cada imagem */
.portfolio-grid > div img.img-1 {
    width: 80%;
    height: 250px;
}

.portfolio-grid > div img.img-2 {
    width: 70%;
    height: 300px;
}

.portfolio-grid > div img.img-3 {
    width: 90%;
    height: 280px;
}

.portfolio-grid > div img.img-4 {
    width: 85%;
    height: 270px;
}

.portfolio-grid > div img.img-5 {
    width: 75%;
    height: 320px;
}

.portfolio-grid > div img.img-6 {
    width: 80%;
    height: 250px;
}

.portfolio-grid > div img.img-7 {
    width: 90%;
    height: 300px;
}

.portfolio-grid > div img.img-8 {
    width: 85%;
    height: 280px;
}

.portfolio-grid > div img.img-9 {
    width: 70%;
    height: 260px;
}

.portfolio-grid > div img.img-10 {
    width: 80%;
    height: 290px;
}

.portfolio-grid > div img.img-11 {
    width: 75%;
    height: 275px;
}

.portfolio-grid > div img.img-12 {
    width: 90%;
    height: 310px;
}

.portfolio-grid > div img.img-13 {
    width: 80%;
    height: 230px;
}

.portfolio-grid > div img.img-14 {
    width: 70%;
    height: 270px;
}

.portfolio-grid > div img.img-15 {
    width: 85%;
    height: 320px;
}

.portfolio-grid > div img.img-16 {
    width: 75%;
    height: 280px;
}

#portfolio {
    background: linear-gradient(to right, #074409, #000000) /* exemplo de gradiente */
}


/* Ajustando o tamanho da grade de presets */
#presets {
    background: linear-gradient(rgba(25, 102, 2, 0.5), rgba(0, 0, 0, 0.3)), url('../images/l.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
    padding: 5rem 0;
}

#presets .title h2 {
    color: var(--light-color);
    text-align: center;
    font-size: 3rem;
}

#presets .title h2::after {
    background-color: var(--light-color);
}

.presets-grid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui as fotos */
}

.presets-grid > div {
    position: relative;
    width: calc(33.333% - 1rem); /* 3 fotos por linha */
    height: 300px; /* Ajustando a altura das divs para 300px */
    overflow: hidden;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras nas fotos */
    transition: transform 0.3s ease; /* Animação suave no hover */
}

/* Ajustando as imagens dentro das divs */
.presets-grid > div img {
    width: 100%; /* A imagem ocupa 100% da largura do seu container */
    height: 100%; /* A imagem ocupa 100% da altura do seu container */
    object-fit: contain; /* Ajusta a imagem sem cortá-la, mantendo a proporção */
    transition: transform 0.3s ease;
    border-radius: 10px; /* Bordas arredondadas para as imagens */
}

/* Efeito de zoom ao passar o mouse */
.presets-grid > div:hover img {
    transform: scale(1.1); /* Efeito de zoom */
}

/* A sobreposição do nome */
.name-overlay {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white; /* Cor do texto */
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0; 
    transition: opacity 0.3s ease; /* Suaviza a transição de opacidade */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para o texto */
    border-radius: 5px; /* Bordas arredondadas no fundo */
}

/* Exibe o texto quando o mouse passa por cima */
.presets-grid > div:hover .name-overlay {
    opacity: 1; /* Torna o texto visível */
}

/* Adicionando responsividade para tamanhos menores de tela */
@media (max-width: 768px) {
    .presets-grid > div {
        width: calc(50% - 1rem); /* 2 fotos por linha em telas pequenas */
        height: 250px; /* Ajuste de altura para telas pequenas */
    }
}

@media (max-width: 480px) {
    .presets-grid > div {
        width: 100%; /* 1 foto por linha em telas muito pequenas */
        height: 250px; /* Ajuste de altura para telas muito pequenas */
    }
}

/* footer */
#footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 211, 11, 0.3)); 
    color: var(--light-color);
    padding: 4rem 0; 
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.footer-content ul {
    display: flex; /* Para alinhar os itens em linha */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-content ul li {
    margin: 0.5rem 1rem;
}

.footer-content ul li a {
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-content ul li a:hover {
    opacity: 0.7;
}

/* Removendo a borda do div anterior */
.footer-content > div:first-child {
    margin-bottom: 3rem;
}

.footer-image {
    width: 100px; /* Ajuste o tamanho da imagem */
    height: 100px; /* Largura e altura iguais para manter o formato circular */
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o círculo */
    border-radius: 50%; /* Deixa a imagem redonda */
    margin: 0 auto; /* Centraliza a imagem */
}

.footer-image img {
    width: 100%; /* A imagem ocupa 100% da largura do container */
    height: 100%; /* A imagem ocupa 100% da altura do container */
    object-fit: cover; /* Faz a imagem se ajustar sem distorção */
}

/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(10, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 1;
        object-fit: cover;
        padding: 206;
    }
    .contact-left form .form-control{
        max-width: 5400px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 2;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 80%;
    }
    .insta-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}



@media (min-width: 1238px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
        gap: 20px; /* Espaçamento entre os itens */
    }

    .portfolio-grid > div {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 300px; /* Definindo uma altura fixa para as imagens */
        width: 100%;
    }

    .portfolio-grid > div img {
        width: auto; /* Imagem ajusta sua largura proporcionalmente */
        height: 100%; /* A altura ocupa 100% do espaço disponível */
        object-fit: contain; /* A imagem se ajusta sem cortar */
    }

    .portfolio-grid > div:nth-child(3) {
        grid-column: span 2; /* Item 3 ocupa duas colunas */
    }

    .portfolio-grid > div:nth-child(6) {
        grid-column: span 2; /* Item 6 ocupa duas colunas */
        
    }
}
/* Estilos para o Footer */
footer {
    background: linear-gradient(rgba(0, 66, 3, 0.3), rgba(0, 0, 0, 0.3)); 
    padding: 2rem 0; /* Espaçamento interno para o footer */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o conteúdo dentro do footer */
}

/* Ajustes para a lista de links no footer */
.footer-content ul {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha, se necessário */
    justify-content: center; /* Alinha os itens no centro horizontalmente */
    list-style: none; /* Remove os marcadores dos itens da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

/* Estilos para os itens da lista */
.footer-content ul li {
    margin: 0 15px; /* Espaçamento entre os links */
}

/* Estilos para os links */
.footer-content ul li a {
    color: #fff; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 1.1rem; /* Tamanho da fonte dos links */
    transition: color 0.3s ease; /* Transição suave na cor do link */
}

/* Efeito ao passar o mouse sobre os links */
.footer-content ul li a:hover {
    color: #048b0b; /* Cor de destaque quando o link for hover */
}
@media(min-width: 576px) {
    .footer-content ul {
        justify-content: center; /* Garantir que os links fiquem centralizados */
    }
}

/* Responsividade para telas maiores (ex: tablet e desktop) */
@media(min-width: 768px) {
    .footer-content ul {
        justify-content: center; /* Garantir que os links fiquem centralizados */
    }
}

@media(min-width: 992px) {
    .footer-content ul {
        justify-content: center; /* Centraliza os links em telas grandes */
    }

    .footer-content ul li {
        margin: 0 20px; /* Aumenta o espaçamento entre os links em telas grandes */
    }
}


